<mat-toolbar color="primary" class="mat-elevation-z6 fixed-header">
  <h1>Meetup buddy</h1>
</mat-toolbar>
<main>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Meetup data
      </mat-expansion-panel-header>
      <button mat-raised-button color="primary" (click)="preFillForAngularVienna()">
        <mat-icon>change_history</mat-icon>
        Pre-fill for Angular Vienna
      </button>
      <form [formGroup]="form" (ngSubmit)="submit()">
        Some text
        <pre>{{ form.value | json }}</pre>
        <mat-form-field>
          <input matInput placeholder="Location" formControlName="location">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Date" formControlName="date">
        </mat-form-field>

        <!--      <mat-form-field>-->
        <!--        <input matNativeControl placeholder="Age">-->
        <!--      </mat-form-field>-->
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</main>
