<mat-toolbar color="primary" class="mat-elevation-z6 fixed-header">
  <h1>Meetup buddy</h1>
</mat-toolbar>
<main>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Meetup data
      </mat-expansion-panel-header>
      <button mat-raised-button color="warn" (click)="preFillForAngularVienna()" type="button">
        <mat-icon>change_history</mat-icon>
        Pre-fill for Angular Vienna
      </button>
      <form [formGroup]="form" (ngSubmit)="submit()">
        Some text
        <pre>{{ form.value | json }}</pre>
        <mat-form-field>
          <input matInput placeholder="Location" formControlName="location">
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="datePicker" placeholder="Date" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Headline" formControlName="eventHeadline">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Background Url" formControlName="backgroundUrl">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Logo Url" formControlName="logoUrl">
        </mat-form-field>
        <mat-divider></mat-divider>
        <button mat-raised-button color="primary" (click)="submit()">
          <mat-icon>format_paint</mat-icon>
          Generate
        </button>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</main>
